html,
body {
    height: 100%;
    background-color: black;
    font-family: monospace;
}


/* Styles for card displaying x and o for the player to chose */

.x_selector {
    background-color: black;
    color: white;
    right: 50%;
    margin-right: 50px;
}

.selector_size {
    font-size: 400px;
}

.o_selector {
    background-color: white;
    left: 50%;
    top: 25%;
    margin-left: 50px;
}

.x_selector,
.o_selector {
    display: inline-block;
    width: 30%;
    top: 25%;
    position: absolute;
    padding: 0 50px;
}

.flip {
    transition: all 1.5s;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.o_backface,
.x_backface {
    font-size: 30px;
    text-align: center;
    top: 50%;
    bottom: 50%;
    padding: 0 50px;
    visibility: hidden;
    display: inline-block;
    position: absolute;
    background-color: black;
    color: white;
}

.o_backface {
    left: 50%;
}

.x_backface {
    right: 50%;
}

.x_o_selector {
    text-align: center;
    height: 100%;
}

.x_o_title {
    display: block;
    color: white;
    font-size: 50px;
    margin: 50px auto;
    text-align: center;
}


/* Styles for difficulty options */

.difficulty_size {
    font-size: 50px;
}

.difficulty_size:hover {
    color: #fff;
    text-shadow: 1px 1px 10px #fff, 1px 1px 10px #000;
}

.medium_size {
    color: white;
    background-color: black;
    display: inline-block;
    width: 30%;
    top: 25%;
    position: absolute;
    padding: 0 50px;
}


/* Styles for game board */

.board {
    background-color: black;
    color: white;
    width: 25%;
    font-size: 50px;
    margin: 10px 10px;
    height: 50px;
    padding: 15px 15px;
    text-align: center;
    display: table-cell;
}

.row {
    display: table;
    width: 50%;
    height: 20%;
    left: 25%;
    right: 25%;
    top: 10%;
    table-layout: fixed;
    position: sticky;
}

.row00 {
    border-right: 5px solid white;
    border-bottom: 5px solid white;
    /* position: relative; */
}

.row01 {
    border-left: 5px solid white;
    border-right: 5px solid white;
    border-bottom: 5px solid white;
    /* position: relative; */
}

.row02 {
    border-left: 5px solid white;
    border-bottom: 5px solid white;
    /* position: relative; */
}

.row10 {
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    border-right: 5px solid white;
}

.row11 {
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    border-right: 5px solid white;
    border-left: 5px solid white;
}

.row12 {
    border-bottom: 5px solid white;
    border-top: 5px solid white;
    border-left: 5px solid white;
}

.row20 {
    border-right: 5px solid white;
    border-top: 5px solid white;
}

.row21 {
    border-right: 5px solid white;
    border-top: 5px solid white;
    border-left: 5px solid white;
}

.row22 {
    border-top: 5px solid white;
    border-left: 5px solid white;
}


/* Styles for hidding and unhidding elements */

.unhide {
    visibility: visible;
}

.hide {
    visibility: hidden;
}